name: build on linux

on:
  pull_request:
    paths:
      - "versions/linux.json"
      - "scripts/linux/**"
      - "scripts/lib/Devel/**"
      - ".github/workflows/linux.yml"
      - ".github/build-openssl-linux.sh"
  push:
    branches:
      - "releases/*"
  schedule:
    - cron: "15 6 * * 5"
  workflow_dispatch:
    inputs:
      perl-versions:
        description: perl versions to build (JSON Array)
        required: false
        default: ""

jobs:
  list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: scripts/linux/local
          key: ${{ runner.os }}-sanity-check-${{ hashFiles('scripts/linux/cpanfile.snapshot') }}
      - name: sanity check
        run: |
          ../../bin/carton install --deployment
          ../../bin/carton exec perl -c build.pl
          ../../bin/carton exec perl -I../lib -c ../lib/Devel/PatchPerl/Plugin/GitHubActions.pm
          ../../bin/carton exec perl -I../lib -c ../lib/Devel/PatchPerl/Plugin/MinGW.pm
          ../../bin/carton exec perl -I../lib -c ../lib/Devel/PatchPerl/Plugin/MinGWGNUmakefile.pm
        working-directory: ./scripts/linux
        env:
          PERL5LIB: ${{ github.workspace }}/scripts/lib
      - id: set-matrix
        name: list available perl versions
        run: |
          if [ -n "$PERL_VERSIONS" ]; then
            echo "::set-output name=matrix::$(printenv PERL_VERSIONS | jq -c '{perl: .}')"
          else
            echo "::set-output name=matrix::$(cat versions/linux.json | jq -c '{perl: .}')"
          fi
        env:
          PERL_VERSIONS: ${{ github.event.inputs.perl-versions }}
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build:
    runs-on: ubuntu-18.04
    needs: list
    timeout-minutes: 25
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      PERL_VERSION: ${{ matrix.perl }}
    steps:
      - uses: actions/checkout@v2
      - name: Host perl -V
        run: perl -V
      - name: gcc --version
        run: gcc --version

      - name: build OpenSSL
        run: .github/build-openssl-linux.sh

      - uses: actions/cache@v2
        with:
          path: scripts/linux/local
          key: ${{ runner.os }}-build-${{ hashFiles('scripts/linux/cpanfile.snapshot') }}
      - name: carton install --deployment
        shell: bash
        run: ../../bin/carton install --deployment
        working-directory: ./scripts/linux

      - name: build
        shell: bash
        run: perl build.pl
        env:
          PERL5LIB: ${{ github.workspace }}/scripts/linux/local/lib/perl5
        working-directory: ./scripts/linux

      - name: upload
        run: |
          ACTIONS_VERSION=v$(cat "$GITHUB_WORKSPACE/package.json" | jq -r .version)
          aws --region us-east-1 s3 cp --acl public-read "$RUNNER_TEMP/perl.tar.xz" "s3://shogo82148-actions-setup-perl/$ACTIONS_VERSION/perl-$PERL_VERSION-linux-x64.tar.xz"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  build-multi-thread:
    runs-on: ubuntu-18.04
    needs: list
    timeout-minutes: 25
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.list.outputs.matrix)}}
    env:
      PERL_VERSION: ${{ matrix.perl }}
      PERL_MULTI_THREAD: "1"
    steps:
      - uses: actions/checkout@v2
      - name: Host perl -V
        run: perl -V
      - name: gcc --version
        run: gcc --version

      - name: build OpenSSL
        run: .github/build-openssl-linux.sh

      - uses: actions/cache@v2
        with:
          path: scripts/linux/local
          key: ${{ runner.os }}-build-${{ hashFiles('scripts/linux/cpanfile.snapshot') }}
      - name: carton install --deployment
        shell: bash
        run: ../../bin/carton install --deployment
        working-directory: ./scripts/linux

      - name: build
        shell: bash
        run: perl build.pl
        env:
          PERL5LIB: ${{ github.workspace }}/scripts/linux/local/lib/perl5
        working-directory: ./scripts/linux

      - uses: kheiakiyama/install-azcopy-action@v1
        with:
          version: "v10"
      - name: upload
        run: |
          ACTIONS_VERSION=v$(cat "$GITHUB_WORKSPACE/package.json" | jq -r .version)
          azcopy_v10 login --service-principal --application-id "$AZCOPY_SPA_CLIENT_ID"
          azcopy_v10 cp "$RUNNER_TEMP/perl.tar.xz" "https://setupperl.blob.core.windows.net/actions-setup-perl/$ACTIONS_VERSION/perl-$PERL_VERSION-linux-x64-multi-thread.tar.xz"
        env:
          AZCOPY_SPA_CLIENT_ID: ${{ secrets.AZCOPY_SPA_CLIENT_ID }}
          AZCOPY_SPA_CLIENT_SECRET: ${{ secrets.AZCOPY_SPA_CLIENT_SECRET }}
