name: Main workflow
on:
  pull_request: {}
  push:
    branches-ignore:
      - 'releases/*'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-18.04
        - ubuntu-16.04
        - windows-latest
        - macos-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set Node.js 12.x
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: npm install
      run: npm install

    - name: Lint
      run: npm run format-check

    - name: npm test
      run: npm test

    - name: use the action
      uses: ./
