name: update cpm
on:
  schedule:
    - cron: "21 15 * * *"
  workflow_dispatch:
  push:
    paths:
      - "author/cpm/*"
      - ".github/workflows/update-cpm.yml"
    branches-ignore:
      # to avoid recursion
      - "auto-update/*"

jobs:
  cpm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: main
          fetch-depth: 0

      - name: update cpanfile.snapshot
        run: make update
        working-directory: ./author/cpm

      - name: build cpm
        run: |
          git diff
          if [[ -n "$(git status --short)" ]]; then
            make install
          fi
        working-directory: ./author/cpm

      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@e3b5eeb7dbe0eb2703b0847ece727b8c2122b2b5 # v1.1.0

      - name: commit
        uses: shogo82148/actions-commit-and-create-pr@b1322fe9da4037e9720e34ea221997cffcd3498d # v1.1.4
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          head-branch-prefix: "auto-update/cpm-"
          commit-message: "update cpm"
