name: update cpanm
on:
  push:
    paths:
      - 'author/cpanm/**'
      - '.github/workflows/update-cpanm.yml'
  schedule:
    - cron: "22 6 * * *"

jobs:
  cpanm:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: update cpanfile.snapshot
        run: make update
        working-directory: ./author/cpanm

      - name: build cpanm
        run: |
          if [[ -n "$(git status --short)" ]]; then
            make install
          fi
        working-directory: ./author/cpanm

      - name: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          branch=update-cpanm-$(date +"%Y-%m-%d-%H-%M-%S")
          git config --global user.name "Ichinose Shogo"
          git config --global user.email shogo82148@gmail.com
          git switch -c $branch
          git add .
          git commit -m "Update cpan $(date +"%Y-%m-%d %H:%M:%S")" || exit 0
          header=$(echo -n "${GITHUB_ACTOR}:${GITHUB_TOKEN}" | base64)
          git -c http.extraheader="AUTHORIZATION: basic $header" push -u origin $branch
          curl -H "Authorization: token $GITHUB_TOKEN" \
            -d "$(jq --arg branch $branch -n '{ "title": "Auto Update cpanm", "base": "master", "head": $branch }')" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls"
