name: update carton
on:
  schedule:
    - cron: "41 16 * * *"
  workflow_dispatch:
  push:
    paths:
      - "author/carton/*"
      - ".github/workflows/update-carton.yml"
    branches-ignore:
      # to avoid recursion
      - "auto-update/*"

jobs:
  carton:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@v0

      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ steps.generate_token.outputs.token }}

      - name: update cpanfile.snapshot
        run: make update
        working-directory: ./author/carton

      - name: build carton
        run: |
          git diff
          if [[ -n "$(git status --short)" ]]; then
            make install
          fi
        working-directory: ./author/carton

      - name: commit
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: |
          branch=auto-update/carton-$(date +"%Y-%m-%d-%H-%M-%S")
          git config --global user.name "Ichinose Shogo"
          git config --global user.email shogo82148@gmail.com
          git switch -c "$branch"
          git add .
          git commit -m "Update carton $(date +"%Y-%m-%d %H:%M:%S")" || exit 0
          git push -u origin "$branch"
          gh pr create --title "Auto Update carton" --base main --head "$branch" \
            --body "This PR is auto generated by [${{ github.workflow }} workflow](${{ github.server_url }}/${{ github.repository }}/workflows/update-carton.yml)."
