name: update cpanfile.snapshot
on:
  push: {}
  schedule:
    - cron: "27 23 * * *"

jobs:
  linux:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: carton install
        shell: bash
        run: |
          rm -f cpanfile.snapshot
          ../../bin/carton install
        working-directory: ./scripts/linux

      - uses: actions/upload-artifact@v1
        with:
          name: cpanfile.snapshot-linux
          path: scripts/linux/cpanfile.snapshot

  darwin:
    runs-on: macos-latest
    steps:
      - name: setup host perl
        run: perl -MConfig -E 'say "::add-path::$Config{bin}"'
      - name: Checkout
        uses: actions/checkout@v1

      - name: carton install
        shell: bash
        run: |
          rm -f cpanfile.snapshot
          ../../bin/carton install
        working-directory: ./scripts/darwin

      - uses: actions/upload-artifact@v1
        with:
          name: cpanfile.snapshot-darwin
          path: scripts/darwin/cpanfile.snapshot

  windows:
    runs-on: windows-latest
    steps:
      - name: setup host perl
        shell: bash
        run: |
          echo "::add-path::C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"

      - name: Checkout
        uses: actions/checkout@v1
      - run: "rm -f scripts/windows/cpanfile.snapshot"
        shell: bash

      - name: carton install
        shell: cmd
        run: ..\..\bin\carton install
        working-directory: ./scripts/windows

      - uses: actions/upload-artifact@v1
        with:
          name: cpanfile.snapshot-windows
          path: scripts/windows/cpanfile.snapshot

  commit:
    runs-on: ubuntu-latest
    needs:
      - linux
      - darwin
      - windows
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: cleanup
        run: |
          rm -f scripts/linux/cpanfile.snapshot
          rm -f scripts/darwin/cpanfile.snapshot
          rm -f scripts/windows/cpanfile.snapshot

      - name: download cpanfile.snapshot for linux
        uses: actions/download-artifact@v1
        with:
          name: cpanfile.snapshot-linux
          path: scripts/linux
      - name: download cpanfile.snapshot for darwin
        uses: actions/download-artifact@v1
        with:
          name: cpanfile.snapshot-darwin
          path: scripts/darwin
      - name: download cpanfile.snapshot for windows
        uses: actions/download-artifact@v1
        with:
          name: cpanfile.snapshot-windows
          path: scripts/windows

      - name: commit
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          branch=update-$(date +"%Y-%m-%d-%H-%M-%S")
          git config --global user.name "Ichinose Shogo"
          git config --global user.email shogo82148@gmail.com
          git switch -c $branch
          git add .
          git commit -m "Update cpanfile.snapshot $(date +"%Y-%m-%d %H:%M:%S")" || exit 0
          header=$(echo -n "${GITHUB_ACTOR}:${GITHUB_TOKEN}" | base64)
          git -c http.extraheader="AUTHORIZATION: basic $header" push -u origin $branch
          curl -H "Authorization: token $GITHUB_TOKEN" \
            -d "$(jq --arg branch $branch -n '{ "title": "Auto Update", "base": "master", "head": $branch }')" \
            "https://api.github.com/repos/$GITHUB_REPOSITORY/pulls"
