name: update cpanm
on:
  schedule:
    - cron: "22 6 * * *"
  workflow_dispatch:
  push:
    paths:
      - "author/cpanm/*"
      - ".github/workflows/update-cpanm.yml"
    branches-ignore:
      # to avoid recursion
      - "auto-update/*"

jobs:
  cpanm:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main
          fetch-depth: 0

      - name: update cpanfile.snapshot
        run: make update
        working-directory: ./author/cpanm

      - name: build cpanm
        run: |
          git diff
          if [[ -n "$(git status --short)" ]]; then
            make install
          fi
        working-directory: ./author/cpanm

      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@7ed70a12e0d77c0e3c946ef4d093e6d17f402935 # v1.0.3

      - name: commit
        uses: shogo82148/actions-commit-and-create-pr@b1322fe9da4037e9720e34ea221997cffcd3498d # v1.1.4
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          head-branch-prefix: "auto-update/cpanm-"
          commit-message: "update cpanm"
