name: update carton
on:
  schedule:
    - cron: "41 16 * * *"
  workflow_dispatch:
  push:
    paths:
      - "author/carton/*"
      - ".github/workflows/update-carton.yml"
    branches-ignore:
      # to avoid recursion
      - "auto-update/*"

jobs:
  carton:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: main
          fetch-depth: 0

      - name: update cpanfile.snapshot
        run: make update
        working-directory: ./author/carton

      - name: build carton
        run: |
          git diff
          if [[ -n "$(git status --short)" ]]; then
            make install
          fi
        working-directory: ./author/carton

      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@e3b5eeb7dbe0eb2703b0847ece727b8c2122b2b5 # v1.1.0

      - name: commit
        uses: shogo82148/actions-commit-and-create-pr@b1322fe9da4037e9720e34ea221997cffcd3498d # v1.1.4
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          head-branch-prefix: "auto-update/carton-"
          commit-message: "update carton"
