name: update build tools
on:
  push:
    paths:
      - "scripts/*/cpanfile"
      - ".github/workflows/update-build-tools.yml"
    branches-ignore:
      # to avoid recursion
      - "auto-update/**"
  schedule:
    - cron: "27 23 * * *"
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: carton install
        shell: bash
        run: |
          rm -f cpanfile.snapshot
          ../../bin/carton install
        working-directory: ./scripts/linux

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cpanfile.snapshot-linux
          path: scripts/linux/cpanfile.snapshot

  darwin:
    runs-on: macos-13
    steps:
      - name: setup host perl
        run: perl -MConfig -E 'say "$Config{bin}"' >> "$GITHUB_PATH"
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: carton install
        shell: bash
        run: |
          rm -f cpanfile.snapshot
          ../../bin/carton install
        working-directory: ./scripts/darwin

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cpanfile.snapshot-darwin
          path: scripts/darwin/cpanfile.snapshot

  windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: setup host perl
        shell: bash
        run: |
          cat << 'END_OF_PATH' >> "$GITHUB_PATH"
          C:\MinGW\bin
          C:\strawberry\perl\site\bin
          C:\strawberry\perl\bin
          END_OF_PATH

      - run: "rm -f scripts/windows/cpanfile.snapshot"
        shell: bash

      - name: carton install
        shell: cmd
        run: ..\..\bin\carton install
        working-directory: ./scripts/windows

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cpanfile.snapshot-windows
          path: scripts/windows/cpanfile.snapshot

  common:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: carton install
        shell: bash
        run: |
          rm -f cpanfile.snapshot
          ../../bin/carton install
        working-directory: ./scripts/common

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: cpanfile.snapshot-common
          path: scripts/common/cpanfile.snapshot

  commit:
    runs-on: ubuntu-latest
    needs:
      - linux
      - darwin
      - windows
      - common
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - name: cleanup
        run: |
          rm -f scripts/linux/cpanfile.snapshot
          rm -f scripts/darwin/cpanfile.snapshot
          rm -f scripts/windows/cpanfile.snapshot
          rm -f scripts/common/cpanfile.snapshot

      - name: download cpanfile.snapshot for linux
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: cpanfile.snapshot-linux
          path: scripts/linux
      - name: download cpanfile.snapshot for darwin
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: cpanfile.snapshot-darwin
          path: scripts/darwin
      - name: download cpanfile.snapshot for windows
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: cpanfile.snapshot-windows
          path: scripts/windows
      - name: download cpanfile.snapshot for any-platform
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: cpanfile.snapshot-common
          path: scripts/common
      - name: update other dependencies
        run: |
          ./.github/update-dependencies.sh
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Generate token
        id: generate_token
        uses: shogo82148/actions-github-app-token@7ed70a12e0d77c0e3c946ef4d093e6d17f402935 # v1.0.3

      - name: commit
        uses: shogo82148/actions-commit-and-create-pr@b1322fe9da4037e9720e34ea221997cffcd3498d # v1.1.4
        with:
          github-token: ${{ steps.generate_token.outputs.token }}
          head-branch-prefix: "auto-update/build-tools-"
          commit-message: "update build tools"
